@model  ProdajaTelevizora.Models.Kupac
@{
    ViewBag.Title = "GostForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Id == 0)
{
    <h2>Dodaj gosta</h2>
}
else
{
    <h2>Izmijeni gosta</h2>

}

@using (Html.BeginForm("Save", "Kupci"))
{
    <div class="form-group">
        @Html.LabelFor(g => g.Ime, "Ime i prezime")
        @Html.TextBoxFor(g => g.Ime, new { @class = "form-control" })
        @Html.ValidationMessageFor(g => g.Ime)
    </div>
    <div class="form-group">
        @Html.LabelFor(g => g.Adresa, "Adresa")
        @Html.TextBoxFor(g => g.Adresa, new { @class = "form-control" })
        @Html.ValidationMessageFor(g => g.Adresa)
    </div>
    <div class="form-group">
        @Html.LabelFor(g => g.BrojTelefona, "Broj telefona")
        @Html.TextBoxFor(g => g.BrojTelefona, new { @class = "form-control" })
        @Html.ValidationMessageFor(g => g.BrojTelefona)
    </div>


    @Html.HiddenFor(g => g.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary">Sacuvaj</button>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

